@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("../public/cyber-city.png");
  background-size: cover;
  color: white;
}

body:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(1.5px);
  -moz-filter: blur(1.5px);
  -o-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  right: -1.5px;
  bottom: -1.5px;
  z-index: -1;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
}

header {
  height: 10%;
  display: flex;
}

main {
  height: 80%;
}

footer {
  height: 10%;
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  padding: 0.1em 0;
  margin: 0 auto;
}


#main-wrapper {
  height: 100%;
}

#face-inner,
#back {
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

header>h1 {
  /* display: inline; */
  font-size: 16px;
  position: relative;
  left: 10rem;
  top: 2rem;
}

#face-inner>h1 {
  position: absolute;
  font-size: 24px;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto
}

#face-inner>button {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto 5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

#back {
  padding-top: 3rem;
}

#back article {
  margin-top: 4rem;
}

#back article:first-child {
  margin-top: 0rem;
}

a {
  text-decoration: none;
  color: white;
}

footer p {
  font-size: 1.3rem;
}