body {
  background-image: none;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  background-color: #191919;
  color: white;
  font-size: 1.6rem;
  margin: 0 auto;
}